<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/dist/css/bucket-create.css">
    <meta charset="UTF-8">
    <title>버킷리스트</title>
</head>
<body>
<div class="all">
    <header>
        <div class="headers">
            <div class = "title" OnClick="location.href ='main.html'">Bucket.</div>
            <ul class = "menu">
                <li> <a href="bucket-create.html">작성</a></li>
                <li> <a href="bucket-detail.html">목록</a></li>
                <li>기타</li>
            </ul>
            <div class="search">
                <input type="text" placeholder="검색어 입력">
                <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
            </div>
            <div class="login">로그인</div>
        </div>
    </header>

    <div class="main">
        <form th:action="@{/create}" th:object="${todoDto}" method="post" enctype="multipart/form-data">
            <label id="content_text" for="content">이루고 싶은 것이 무엇인가요?</label>
            <input type="text" id="content" name="content" placeholder="세계일주" th:field="*{content}" required>
            <input type="button" id="content_button" value="확인">

            <div class="category">
                <label class="categoryed">카테고리</label>
                <div class="category_list">
                    <select class="category_select" name="category" required>
                        <option>태그 선택</option>
                        <option value="자기개발">자기개발</option>
                        <option value="가족/친구">가족/친구</option>
                        <option value="취미/문화">취미/문화</option>
                        <option value="운동/건강">운동/건강</option>
                        <option value="여행">여행</option>
                        <option value="소비/저축">소비/저축</option>
                        <option value="기타">기타</option>
                    </select>
                </div>
            </div>

            <label id="goal_day_text" for="goal_day">언제까지 이루고 싶은지 날짜를 정해보세요.</label>
            <input type="date" id="goal_day" name="goal_day" th:field="*{goal_day}" required>

            <label id="bucketImage_text" for="bucketImage">함께 연상되는 이미지를 넣어보세요</label>
            <input type="file" id="bucketImage" name="bucketImage">

            <button id="button" type="submit">완료</button>
        </form>
    </div>

    <footer>
        <div class="footer"></div>
    </footer>
</div>
</body>
</html>
