<!-- 제목, 내용, 사진, 달성도(체크박스), 목표 기간, 카테고리
•버튼(수정, 삭제)
•좋아요 기능 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bucket Detail</title>
</head>
<body>

<h1>버킷리스트 디테일</h1>

<!-- todoDto 객체에서 값들을 출력 -->
<div>
    <p><strong>유저 :</strong> <span th:text="${todoDto.user}"></span></p>
    <p><strong>날짜 :</strong> <span th:text="${todoDto.goal_day}"></span></p>
    <p><strong>내용 :</strong> <span th:text="${todoDto.content}"></span></p>
</div>
</body>
</html>
