<!-- 제목, 내용, 이미지 업로드(1장), 달성도(체크박스), 목표기간, 카테고리 설정 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="bucket-create.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Bucket</title>
</head>
<body>
<h1>버킷리스트 만들기</h1>
<form th:action="@{/create}" th:object="${todoDto}" method="post" enctype="multipart/form-data">
    <!-- 제목 입력 -->
    <label id="content_text" for="content">이루고 싶은 것이 무엇인가요?</label>
    <input type="text" id="content" name="content" placeholder="세계일주" th:field="*{content}" required>
    <input type="button" id="content_button" value="확인">

    <!-- 카테고리 -->
    <div class="category">
        <label class="categoryed">카테고리</label>
        <div class="category_list">
                <select class="category_select" name="category" required>
                    <option>태그 선택</option>
                    <option value="자기개발">자기개발</option>
                    <option value="가족/친구">가족/친구</option>
                    <option value="취미/문화">취미/문화</option>
                    <option value="운동/건강">운동/건강</option>
                    <option value="여행">여행</option>
                    <option value="소비/저축">소비/저축</option>
                    <option value="기타">기타</option>
                </select>
        </div>
    </div>



    <!-- 목표 날짜 설정 -->
    <label id="goal_day_text" for="goal_day">언제까지 이루고 싶은지 날짜를 정해보세요.</label>
    <input type="date" id="goal_day" name="goal_day" th:field="*{goal_day}" required>

    <!-- 이미지 업로드 -->
    <label id="bucketImage_text" for="bucketImage">함께 연상되는 이미지를 넣어보세요</label>
    <input type="file" id="bucketImage" name="bucketImage" placeholder="테스트">

    <!-- 제출 버튼 -->
    <button id = "button" type="submit">완료</button>
</form>
</body>
</html>
